@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      } 
      body{
        background-color: white;
        /* margin: 0px; */
        
    }
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    :root{
        --primary:rgb(23, 21, 21);
        --secondary:black;
        --alternative:rgba(255, 255, 255, 0.851);
        --bgHeaderFooter: rgb(37, 22, 22);
        --mainBoxShadow:rgba(128, 128, 128, 0.925);
        --textcolor:white;

    }
    ::-webkit-scrollbar {
        display: none;
    }
    :is(.navbar) {
    background-color: var(--bgHeaderFooter);
 }

 .full-height{
    min-height: 100vh;
    height: 100%;
    border-bottom: 2px solid white;
    align-items: center;
 }
 footer{
    background-color: var(--bgHeaderFooter);
    color: var(--textcolor);
 }
 section>h2{
    text-align:left;
    margin: 45;
    /* px 0 45px; */
    text-decoration: underline;
    font-size:medium;
    color: var(--textcolor);
 }
 #Home{
    background-color: var(--secondary);
    /* border-color:var(--secondary); */
    /* border-width:px; */
/* width: 100%;} */}
a {

}
img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

/* #navbarsupportedcontent a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }  */
  p{
    color: white;
  }
  img[alt='logo'],a:hover {
width:150px;
  }
   .name{
    font-size: large;
   }
